@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body {
  font-family: "Playfair Display", serif;
  background-image: url("../images/clear.jpg");
  background-position: center;
  background-repeat: no-repeat;
  transition: background 1s ease-in-out;
  height: 100vh;
  position: relative;
}
.weather-status {
  background: rgba(0, 0, 0, 0.473);
  width: 70vw;
  border-radius: 15px;
  transition: opacity 1s ease-in-out;
}
#error-message-filed {
  width: 18rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto;
}
#error-message-filed h5 {
  margin-bottom: 0;
  color:salmon;
}

#btn-search {
  background-color: rgb(238, 238, 238);
}

.hidden {
  opacity: 0;
}
#icon {
  width: 100px;
  height: 100px;
}

input {
  background-color: rgba(0, 0, 0, 0.473) !important;
  border-radius: 5px;
  color: #fff !important;
  border: none !important;
}
::placeholder {
  color: #fff !important;
  font-size: 0.9rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.623) !important;
  color: #fff;
}
.btn:hover {
  background-color: #fff !important;
  color: black;
}
/* footer styles  */
.site-footer {
  height: 80px;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  bottom: 0;
}
.copyright-text {
  margin-bottom: 0;
}
.copyright-text a {
  text-decoration: none;
  color: rgb(131, 211, 211);
}
